<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/head :: head"></head>

<body data-type="login">

<div class="am-g myapp-login">
    <div class="myapp-login-logo-block  tpl-login-max">
        <div class="myapp-login-logo-text">
            <div class="myapp-login-logo-text">
                明快安管理系统<span> 登录</span>

            </div>
        </div>

        <div class="am-u-sm-10 login-am-center">
            <form class="am-form" action="#" th:action="@{/manager/auth/login}" th:method="post">
                <fieldset>
                    <div class="am-form-group">
                        <input type="text" class="" id="user_name" th:name="user_name" placeholder="用户名"/>
                    </div>
                    <div class="am-form-group">
                        <input type="password" class="" th:name="password"  placeholder="密 码"/>
                    </div>
                    <p><button th:type="submit" class="am-btn am-btn-default">登录</button></p>

                </fieldset>
            </form>
        </div>
    </div>
</div>
</body>

</html>
